github "Alamofire/Alamofire"                "4.4.0"
github "sleroux/Deferred"                   "Swift3.0"
github "swisspol/GCDWebServer"       "3.3.2"
github "kif-framework/KIF"          "v3.5.1"
github "mozilla/readability"        "master"
github "rs/SDWebImage"              "3.8.2"
github "SnapKit/SnapKit"            "3.0.0"
github "jrendel/SwiftKeychainWrapper"       "3.0.1"
github "DaveWoodCom/XCGLogger"              "Version_4.0.0"
github "drmohundro/SWXMLHash"               "3.0.4"
github "xmartlabs/Eureka"             "3.0.0"
github "mixpanel/mixpanel-swift"     "v2.1.5"
github "brave/sync" "staging"
github "diracdeltas/niceware" "v1.0.4"
